[submodule "vim-commentary"]
	path = start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim-easy-align"]
	path = start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vim-polyglot"]
	path = start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim-rsi"]
	path = start/vim-rsi
	url = https://github.com/tpope/vim-rsi.git
[submodule "vim-signify"]
	path = start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "ale"]
	path = opt/ale
	url = https://github.com/w0rp/ale.git
[submodule "jedi-vim"]
	path = opt/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vimwiki"]
	path = opt/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "vim-fugitive"]
	path = start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
